/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{margin:0;padding:0;outline:0;}
body{font-family:verdana;font-size:12px;font-weight:normal;line-height:18px;color:#666666;}
.template{width:1000px;margin:0 auto;}
.clear{overflow:hidden;}
.headsection{height:100px;background:#81201a;}
.headerleft {
	float:left;
	line-height: 26px;
	padding: 27px 17px 22px 17px;
	width:300px;
}
.headerleft h2 {
	font-family: georgia;
	font-size: 32px;
	font-weight:normal;
	color: #fff;
}
.headerleft p{
	font-family:Verdana;
	color:#d2d2d2;
}
.mainmenu {
	float: right;
	width: 600px;
	margin-top: 10px;
}
.mainmenu ul{
	margin:0;
	padding:0;
	list-style:none;
}
.mainmenu ul li{
	float:left;
	display:block;
	padding:10px;
}
.mainmenu ul li a{
	display:block;
	text-transform:uppercase;
	font-size:16px;
	color:#d2d2d2;
	text-decoration:none;
	padding:10px;
	margin:5px;
}
.mainmenu ul li a:hover, #active{
	border-top:2px solid #000;
	color:#000;
}
.mainmenu ul li a span {
	font-family:arial;
	font-size:12px;
	display: block;
	color: #999;
	text-transform:lowercase;
}
.bannersection{background:#3e0d09;height:350px;position:relative;}
.bannerleft{width:450px;float:left;margin-left:30px;color: #fff;}
.bannerleft h1 {
	font-family: georgia;
	font-size: 45px;
	line-height: 48px;
	font-weight: normal;
	margin:40px 10px 10px 0px;
}
.bannerleft p {
	padding-top: 20px;
	line-height: 18px;
	font-size: 14px;
	line-height:22px;
}
.bannerrigth {
	width: 412px;
	float: right;
	margin-right: 30px;
	margin-top: 40px;
}
.bannerrigth img {
	padding: 0px 5px 10px 0px;
}
.contentsection{background:#e4dfcb;height:410px;}
.maincontent{background:#fff;width:900px;margin:0 auto;padding:20px;height:350px;position:absolute;margin-top:-40px;margin-left:30px;}
.samearticle{float:left;width:260px;padding-right:60px;}
.samearticle:last-child{padding-right:0px;}
.samearticle img{}
.samearticle h2 {
	font-family: georgia;
	font-size: 18px;
	color: #660000;
	border-bottom: 1px solid #d2d2d2;
	padding: 10px 0px;
	margin-bottom:10px;
}
.samearticle ul{padding-left:30px;}
.samearticle ul li {
	padding-bottom: 5px;
	line-height: 22px;
}
.samearticle ul li:last-child{padding-bottom:0px;}
.samearticle p {
	line-height: 20px;
}
.samearticle h4{
	padding-top:20px;
	
}
.footertop{background:#cec6a2;height:300px}
.contact{width:355px;float:left;margin-left:20px;}
.contact h2 {
	font-family: georgia;
	font-size: 22px;
	margin-top: 30px;
	border-bottom: 2px solid #b2b2b2;
	padding-bottom: 15px;
	color: #000;
	margin-bottom: 20px;
	font-weight:normal;
}
.contact p{margin-bottom:10px;}
.textinput{float:left;margin-right:8px;}
.contact input[type="text"] {
	padding: 4px 17px;
}
.contact input[type="email"] {
	padding: 4px 17px;
}
.contact textarea {
	width: 342px;
	height: 80px;
}
.contact input[type="submit"] {
	background: #f7f7f7;
	padding: 7px 15px;
	font-size: 13px;
	color: #666666;
	border: 0px;
	margin-right: 10px;
	margin-left: 2px;
	margin-top: 10px;
}
.contact input[type="reset"]{background:#f7f7f7;padding:7px 15px;font-size:13px;color:#666666;border:0px;}
.post{width:600px;float:right;}
.allpost{}
.samepost{width:180px;float:left;margin-left:15px;}
.samepost h2{
	font-family: georgia;
	font-size: 22px;
	margin-top: 30px;
	border-bottom: 2px solid #b2b2b2;
	padding-bottom: 15px;
	color: #000;
	margin-bottom: 20px;
	font-weight:normal;
}
.samepost p{line-height:20px;margin-bottom:10px;}
.subscribe{}
.subscribe p {
	float: left;
	background: #e4dfcb;
	padding: 5px 25px;
	margin-right: 10px;
	height: 20px;
}
.subinput{float:left;}
.subscribe input[type="email"] {
	padding: 7px 53px;
}
.subscribe input[type="submit"] {
	padding: 7px 10px;
	background: #f7f7f7;
	border: 0px;
}
.footsection{background:#2b0c0a;height:40px;}
.footerleft{float:left;}
.footerleft p {
	margin: 10px 20px;
	color: #fff;
}
.footerright{float:right;}
.footerright p{
	margin: 10px 20px;
	color: #fff;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
